<footer class="text-muted">
  <div class="container">
      <p class="float-right">
          <a href="#">Back to top</a>
      </p>
      <p>Album uses NASA API located <a href="https://api.nasa.gov/api.html#MarsPhotos" target="_blank">here</a></p>
      <p>Developed by Nicholas Ibarra as Programming Exercise, info located <a href="https://github.com/WatchGuard/coding-exercises/tree/master/mars-rover" target="_blank">here</a>  </p>
  </div>
</footer>
