<header>
  <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                  <h4 class="text-white">About Nicholas Ibarra</h4>
                  <p class="text-muted">I am a full stack developer looking for my next opportunity. I have several years of experience in .NET, SQL Server, and JavaScript frameworks. I am seeking employers who are enthusiastic about technology and looking for high quality candidates.</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled">
                      <li><a href="https://www.linkedin.com/in/nicholas-ibarra-441b3829/" target="_blank" class="text-white">Find me on LinkedIn</a></li>
                      <li><a href="mailto:nlibarra12@gmail.com" class="text-white">Email me</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
              
              <i class="icon ion-md-planet"></i>
              <strong class="mr-2">NASA </strong> | API Example
              
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      </div>
  </div>
</header>