<main role="main">

  <section class="jumbotron text-center">
      <div class="container">
          <h1 class="jumbotron-heading">Explore Mars through NASA</h1>
          <p class="lead text-muted">NASA has provided the IT world with an API for two reasons. First, so the Earthlings can experience Mars. Second, for Developers to show they know how to use an API.</p>
          <p>
              <a href="#" (click)="click_call()" class="btn btn-primary my-2 mr-2">Give Nicholas a Call <span class="text-small" *ngIf="toggle_call">(click to hide)</span></a>
              <a href="#" (click)="click_email()" class="btn btn-secondary my-2">Send Nicholas an Email <span class="text-small" *ngIf="toggle_email">(click to hide)</span></a>
          </p>

          <p *ngIf="toggle_call">Phone Number: 214-914-4645</p>
          <p *ngIf="toggle_email">Email: <a href="mailto:nlibarra12@gmail.com">nlibarra12@gmail.com</a></p>
      </div>
  </section>

  <div class="album py-5 bg-light">
      <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="import-tab" data-toggle="tab" href="#import" role="tab">Text Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="filter-tab" data-toggle="tab" href="#filter" role="tab">Filters</a>
                </li>
            </ul>
            <form>
            <div class="tab-content" id="myTabContent">     
                       
                <div class="tab-pane fade pt-4 show active" id="import" role="tabpanel">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="file" (change)="fileChanged($event)" class="form-control-file" >
                        </div>
                        <div class="form-group col-md-3">
                            <button type="button" (click)="searchText()" class="btn btn-dark">Import!</button>
                        </div>
                            
                    </div>
                </div>
                <div class="tab-pane fade pt-4" id="filter" role="tabpanel">
                   
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="form-label text-muted">Earth Date</label>
                            <input type="date" class="form-control" [(ngModel)]="filter_date" name="filter_date" >
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label text-muted">Rover Name</label>
                            <select class="custom-select" [(ngModel)]="filter_rover" name="filter_rover" >
                                <option value="curiosity">Curiousity</option>
                                <option value="opportunity">Opportunity</option>
                                <option value="spirit">Spirit</option>
                                </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label text-muted">Camera</label>
        
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <select class="custom-select" [(ngModel)]="filter_camera" name="filter_camera">
                                        <option value="all">All</option>
                                        <option value="FHAZ">Front Hazard Avoidance Camera</option>
                                        <option value="RHAZ">Rear Hazard Avoidance Camera</option>
                                        <option value="MAST">Mast Camera</option>
                                        <option value="CHEMCAM">Chemistry and Camera Complex</option>
                                        <option value="MAHLI">Mars Hand Lens Imager</option>
                                        <option value="MARDI">Mars Descent Imager</option>
                                        <option value="NAVCAM">Navigation Camera</option>
                                        <option value="PANCAM">Panoramic Camera</option>
                                        <option value="MINITES">Miniature Thermal Emission Spectrometer (Mini-TES)</option>
        
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
        
                                    <button type="button" (click)="search()" class="btn btn-dark">Go!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
                

        <hr class="mt-0 mb-4">
        <div class="row">

            <div *ngIf="!searching && !submitted" class="text-muted">Please select a few filters...</div>
            <div *ngIf="submitted_error" class="alert alert-danger col-sm-12">Error: {{submitted_error_text}}</div>
            <div *ngIf="!searching && submitted && !submitted_error && photos.length == 0" class="alert alert-secondary col-sm-12">No photos for current filter</div>
            <div *ngIf="searching" class="alert alert-dark col-sm-12">Contacting Mars rover...</div>

            <div *ngFor="let photo of photos" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{photo.img_src}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Camera: </strong> {{photo.camera.full_name}}
                            <br>
                            <strong>Rover: </strong> {{photo.rover.name}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                            </div>
                            <small class="text-muted">{{photo.earth_date | date:'MM/dd/yyyy' }}</small>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>

</main>